.menuContainer {
	position: relative;
	overflow: hidden;
	font-size: 20px !important;
}

.menuContainer > * {
	position: relative;
	z-index: 2;
}

.menuSection {
	margin-bottom: 1.5rem;
	padding: 0.5rem 1rem;
	border-radius: 15px;
}

@media (max-width: 768px) {
	.menuSection p {
		font-size: 17px;
		font-weight: 500;
	}
	.sectionTitle {
		justify-content: center;
		margin-top: 2rem;
		font-size: 1.6rem;
	}

	.menuContainer {
		padding-left: 10px !important;
		padding-right: 10px !important;
	}
}

.customImageContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 350px;
	position: relative;
}

.greenBorderStack {
	width: 300px;
	height: 350px;
	background-color: transparent;
	border: 10px solid var(--border-stack-color);
	border-radius: 8px;
	position: absolute;
	top: 0;
	z-index: 0;
}

.stackedContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
	z-index: 1;
}

.drinkImage {
	height: 300px !important;
	border-radius: 12px;
	width: 400px !important;
	object-fit: cover;
	transition: transform 0.3s ease, box-shadow 0.3s ease, filter 0.3s ease;
}

.imageHover:hover {
	transform: scale(1.05) rotate(3deg);
	box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.3);
	filter: brightness(1.1);
}

/* Responsive adjustments */
@media (max-width: 1199px) {
	.customImageContainer {
		height: 350px;
	}

	.greenBorderStack {
		width: 250px;
		height: 350px;
	}

	.drinkImage {
		width: 300px !important;
		height: 300px !important;
	}
}

.sectionTitle {
	display: flex;
	font-weight: 500;
	font-size: 2rem;
	margin-bottom: 2rem;
	margin-top: 1rem;
	color: var(--title-color);
	text-transform: uppercase;
	letter-spacing: 4px;
}
